.statistics {
  width: 100%;
  margin: 60px auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
  padding-bottom: 50px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}

.statList {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 18%;
  min-height: 100px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.item:hover {
  opacity: 0.4;
}

.label {
  padding-top: 10px;
  font-size: 12px;
}

.percentage {
  padding-top: 8px;
  font-size: 18px;
}
